<launch>
    <arg name="output" default="log"/>
    <arg name="model" default="$(find aleph2_description)/urdf/aleph2.urdf.xacro"/>

    <group ns="aleph2">

        <param name="robot_description" command="xacro $(arg model)" />

        <!-- <include file="$(find aleph2_bringup)/launch/drivetrain_control.launch">
            <arg name="output" value="$(arg output)"/>
        </include> -->

        <include file="$(find aleph2_bringup)/launch/manip_control.launch">
            <arg name="output" value="$(arg output)"/>
        </include>

        <include file="$(find aleph2_bringup)/launch/gimbal_control.launch">
            <arg name="output" value="$(arg output)"/>
        </include>

    </group>

    <node name="aleph2_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="$(arg output)">
        <remap from="robot_description" to="aleph2/robot_description"/>
        <remap from="joint_states" to="aleph2/joint_states"/>
    </node>

    <node name="rubi_server" pkg="rubi_server" type="rubi_server" output="$(arg output)">
        <param name="cans" value="can1"/>
    </node>
    
    <node name="power_monitor" pkg="aleph2_bringup" type="power_monitor" output="$(arg output)"/>

    <include file="$(find aleph2_bringup)/launch/rosbags.launch">
        <arg name="record_cameras" value="false"/>
    </include>

</launch>