<launch>
    <arg name="output" default="log"/>
    <arg name="model" default="$(find aleph_viz)/urdf/aleph.urdf.xacro"/>

    <param name="robot_description" command="xacro --inorder $(arg model)" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" output="$(arg output)"/>

    <include file="$(find aleph2_hardware_interface)/launch/drivetrain_controllers.launch">
        <arg name="output" value="$(arg output)"/>
    </include>

    <include file="$(find aleph2_hardware_interface)/launch/gimbal_controllers.launch">
        <arg name="output" value="$(arg output)"/>
    </include>

    <include file="$(find aleph2_hardware_interface)/launch/manip_controllers.launch">
        <arg name="output" value="$(arg output)"/>
    </include>

    <node name="rubi_server" pkg="rubi_server" type="rubi_server" output="$(arg output)">
        <rosparam param="cans">["can1", "can2"]</rosparam>
    </node>

<launch>