<launch>
    <arg name="spawn_manager" default="true"/>
    <arg name="output" default="screen"/>

    <rosparam file="$(find aleph2_hardware_interface)/config/common.yaml" command="load"/>
    <rosparam file="$(find aleph2_hardware_interface)/config/drivetrain/joints.yaml" command="load"/>
    <rosparam file="$(find aleph2_hardware_interface)/config/drivetrain/controllers.yaml" command="load"/>
    <rosparam file="$(find aleph2_hardware_interface)/config/drivetrain/joint_limits.yaml" command="load"/>

    <group if="$(arg spawn_manager)">
        <node name="controller_manager" pkg="aleph2_hardware_interface" type="controller_manager" output="$(arg output)" required="true"/>
        <node name="state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="$(arg output)" args="
            /aleph2/controller/state
        "/>
    </group>

    <!-- <node name="drivetrain_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="$(arg output)" args="
        /aleph2/controller/velocity/wheelRL
        /aleph2/controller/velocity/wheelRR
        /aleph2/controller/velocity/wheelFL
        /aleph2/controller/velocity/wheelFR
    "/> -->
    <node name="drivetrain_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="$(arg output)" args="
        /aleph2/controller/diff_drive
    "/>
</launch>