<launch>
    <arg name="output" default="screen"/>
    <arg name="loop_rate" default="10"/>

    <remap from="gimbal/controllers/state/joint_states" to="joint_states"/>

    <group ns="gimbal">

        <rosparam file="$(find aleph2_hardware_interface)/config/gimbal/joints.yaml" command="load"/>
        <rosparam file="$(find aleph2_hardware_interface)/config/gimbal/controllers.yaml" command="load"/>
        <rosparam file="$(find aleph2_hardware_interface)/config/gimbal/joint_limits.yaml" command="load"/>

        <node name="controller_manager" pkg="aleph2_hardware_interface" type="controller_manager" 
                output="$(arg output)" required="true">
            <param name="control_loop_rate" value="$(arg loop_rate)"/>
        </node>

        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="$(arg output)" args="
            controllers/velocity/gimbal1_pan
            controllers/velocity/gimbal1_tilt
            controllers/velocity/gimbal1_zoom
            controllers/velocity/gimbal1_focus
            controllers/velocity/gimbal2_pan
            controllers/velocity/gimbal2_tilt
            controllers/velocity/gimbal2_zoom
            controllers/velocity/gimbal2_focus
            controllers/velocity/gimbal3_pan
            controllers/velocity/gimbal3_tilt
            controllers/velocity/gimbal3_zoom
            controllers/velocity/gimbal3_focus
            controllers/velocity/gimbal4_pan
            controllers/velocity/gimbal4_tilt
            controllers/velocity/gimbal4_zoom
            controllers/velocity/gimbal4_focus
            controllers/state
        "/>
    </group>

    <node name="gimbal_joint_state_republisher" pkg="aleph2_hardware_interface" type="joint_state_republisher" output="$(arg output)">
        <param name="source_topic" value="gimbal/joint_states"/>
    </node>
</launch>