<launch>
    <arg name="output" default="screen"/>
    <arg name="loop_rate" default="30"/>

    <remap from="manip/controllers/state/joint_states" to="joint_states"/>

    <group ns="manip">

        <rosparam file="$(find aleph2_hardware_interface)/config/manip/joints.yaml" command="load"/>
        <rosparam file="$(find aleph2_hardware_interface)/config/manip/controllers.yaml" command="load"/>
        <rosparam file="$(find aleph2_hardware_interface)/config/manip/joint_limits.yaml" command="load"/>

        <node name="controller_manager" pkg="aleph2_hardware_interface" type="controller_manager"
                output="$(arg output)">
            <param name="control_loop_rate" value="$(arg loop_rate)"/>
        </node>

        <!-- <node name="controller_spawner1" pkg="controller_manager" type="spawner" respawn="false" output="$(arg output)" args="
            controllers/effort/base
            controllers/effort/shoulder
            controllers/effort/elbow
            controllers/effort/wrist_tilt
            controllers/effort/wrist_roll
            controllers/effort/gripper
            controllers/state
        "/> -->

        <node name="controller_spawner1" pkg="controller_manager" type="spawner" respawn="false" output="$(arg output)" args="
            controllers/velocity/base
            controllers/velocity/shoulder
            controllers/velocity/elbow
            controllers/velocity/wrist_tilt
            controllers/velocity/wrist_roll
            controllers/velocity/gripper
            controllers/state
        "/>

        <!-- <node name="controller_spawner2" pkg="controller_manager" type="spawner" respawn="false" output="$(arg output)" args="
            controllers/trajectory
            controllers/state
        "/> -->
    </group>
</launch>
